Package: Zephyr
Version: 1.1.0
Section: base
Priority: optional
Architecture: amd64
Maintainer: Keishi <phananha4@gmail.com>
Description: Zephyr is a sleek and efficient terminal application built with QML and the Qt Framework. Designed for performance and simplicity.
